label {
  display: block;
  margin-top: 10px;
}

.card-container.cardLogin {
  max-width: 400px;
  margin: 50px auto;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardLogin {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 120px;
  height: 120px;
  margin: 0 auto 20px;
  display: block;
  border-radius: 50%;
  object-fit: cover; /* Ensure the image maintains its aspect ratio */
  border: 2px solid #3498db; /* Blue border color */
}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.cart-title {
  font-size: 1.5rem;
}

.cart-container {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  padding: 10px;
  border-radius: 5px;
  height: fit-content;
}

.cart-item {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #ced4da;
}

.total-price {
  font-weight: bold;
  color: #007bff;
}

.product-card:hover {
  border-color: #0080ff;
  cursor: pointer;
}

.styled-hr {
  width: 100%;
  margin-top: 0px;
}